<section id="about-long">
    <div class="container">
     <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us!</h2>
                <h3> Who we are </h3>
                 <p>
                    The Manchester Fire Support Group organized in 2023 in the wake of the Manchester Fire Department (aka Eighth Utilities District) and Town Fire Department merger. We are dedicated to continuing the spirit of the Eighth Distric for social and civic engagement in support of the fire service, including financial support of burn treatment centers, burn victims and persons displaced by fire or other calamities and the carrying on of the long standing traditions and community activities carried out by the Manchester Fire Department through its over 100 years of service.     
                </p>
                <h3> Who can join </h3>
                <p>
                    We are an all inclusive group of past member's of the Manchester Fire Department (Eighth District), current members and family of the new Manchester Fire Department, and interested citizens of the Town of Manchester. There are no qualifications required to join other than an interest in helping to support the firefighters and victims of fires here in the town. Along side that desire to help, the ability to assist in organizational fundrasing activities. 
                
                    Our activities for fundraising include traditional events such as the Peach Festival, and Christmas Tree sales as well as new and yet unknown oppertunities. Participation is anything from helping set chairs and tables up at the Peach Festival, to helping to plan major fundrasing and awareness events, to anything in between and beyond.
                </p>
            </div>
        </div>
    </div>
</section>
