<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Help us support Manchester's Firefighters and fire victims!</h2>
                <hr class="light">
                <p class="text-faded">Join our group and help support Manchester's bravest as well as families in need when disaster strikes!</p>
                <a href="docs/MFSG%20Membership%20Application%20form.pdf" class="btn btn-default btn-xl">Join the group now!</a>
            </div>
        </div>
    </div>
</section>
