<section id="contact">
    <div class="">
        <div class="d-flex  justify-content-center">
        <div class="col-lg-4 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa-regular fa-envelope-open fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-4 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa-regular fa-envelope-open fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.joinemail }}</p>
            </a>
        </div>
    </div>
</section>
                
