<section id="contact">
    <div class="">
        <div class="d-flex  justify-content-center">
        <div class="d-flex col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-regular fa-envelope-open fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="d-flex text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-regular fa-envelope-open fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.joinemail }}</p>
            </a>
        </div>
    <div class="d-flex text-center">
            <a href="https://www.facebook.com/mfsgct" target="_blank">
            <i class="fa fa-brands fa-facebook fa-1x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
        </div>
    </div>   
    </div>
</section>
                
