<section id="tree_sales" class="event-sections bg-primary text-light">
    <div class="d-flex">
     <div class="d-flex  justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Christmas Tree Sales </h2>
                <p>
                In past years the Manchester Fire Department (Otherwise known as the Eighth Utilities District Fire Department), sold trees for Christmas. 
                
                In our efforts to continue those traditions, we are planning on continuing the tradition of Christmas Tree sales at 18 Main Street! 
            
                </p>
                
                <p>
                However, we need help! Tree sales requires people! So join today and help out! We need help with everything from unloading trees to staffing the lot when it's open. 
                
                
                Please contact a member or email the board if interested!
                
                Thanks!
                </p>

            </div>
        </div>
    </div>
    
</section>
